In [1]:
import pandas as pd

covid = pd.read_csv('covid.csv')
covid

,ID,age,DateOfOnsetSymptoms,ChronicDiseaseQ,gender_binary,death_binary,respiratory,weakness/pain,fever,gastrointestinal,...,cancer,ortho,respiratory_CD,cardiacs_cd,kidney_CD,blood,prostate,thyroid,Latitude,Longitiude
0,0,48,"2019, 12, 10",1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,30.62506,114.3421
1,2,58,"2019, 12, 22",0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,30.62506,114.3421
2,3,66,"2019, 12, 22",0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,30.62506,114.3421
3,4,49,"2019, 12, 23",1,1,0,1,1,1,0,...,0,0,0,0,0,0,0,0,30.62506,114.3421
4,5,66,"2019, 12, 29",0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,34.62931,113.4680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,1444,19,"2020, 4, 5",0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,31.85340,104.7008
1444,1445,60,"2020, 4, 5",0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,39.29713,117.3333
1445,1446,58,"2020, 4, 5",0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,39.29713,117.3333
1446,1447,51,"2020, 4, 5",0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,25.39236,102.8739
1447,1448,33,"2020, 4, 5",0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,36.35126,103.6554